@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Sevillana&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Geist Mono;
    color: white;
}

body{
    background-color: #001f7c38;

}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-color: #00000038;
}
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* todo */
    mix-blend-mode: overlay;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    background-color: rgba(132, 130, 130, 0.123);
    padding: 0 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px #72a1de8d;
    z-index: 9999;
}

.left{
    font-size: 2rem;
    align-items: center;
    cursor: pointer;
}

.left span {
    /* color: #340fe7; */
}

header > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

header > ul > li > a {  
    position: relative;
    text-decoration: none;
}
header > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

header > ul > li > a:hover{
    color: blueviolet;
}

header > ul > li > a:hover::after {
  transform: translateX(-50%) scaleX(1.1);
}

.links{
    display: flex;
    gap: 20px;
}

.links > a > i{
    font-size: 1.6rem;
    padding: 5px;
}

.links > a > i:hover{
    color: blueviolet;
}

.blackhole{
    position: absolute;
    top:0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}
.blackhole video{
    width: 100%;
    margin-top: -23.5%;
}

/* Hero section */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-info{
    position: absolute;
    left: 4%;
    max-width: 50%;
}
.hero-info .info-title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
    color: #727fde;
    padding: 8px 20px;
    border: 1px solid #727fde77;
    width: fit-content;
    background-color: #2200493d;
    border-radius: 10px;
    box-shadow: 0 0 5px #727fde88;
}
.hero-info .info-title:hover {
    box-shadow: 0 0 15px #727fde88;
    background-color: #727fde88;
    cursor: pointer;
}

.main-text{
    font-size: 3.3rem;
    margin-top: 20px;
    margin-bottom: 30px;
}
.desc-text{
    font-size: 1rem;
    margin-bottom: 40px;
}

.hero-info button{
    padding: 10px 20px;
    border: none;
    background-color: #2200493d;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #727fde77;
    box-shadow: 0 0 5px #727fde88;
    transition: all .2s ease-in-out;
    margin-right: 20px;
}
.hero-info button:hover {
    box-shadow: 0 0 25px #727fde88;

}
.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008baa);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
} 

.hero-video{
    position: absolute;
    right: 3%;
}
.hero-video video {
    height: 700px;
    mix-blend-mode: lighten;
}
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    left: 49%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px lightgray;
}
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgray;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s infinite ease-in-out;
}
.scroll-down::before{
    top:30%;
    animation-delay: 0.5s;
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%, 60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}

/* Info section */
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}

.section-title{
    font-size: 40px;
    font-weight: 500;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: .3s;
}
.card img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.card h2{
    position: absolute;
    margin: 0;
    bottom: 40%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}
.card p{
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: gray;
    font-size: 13px;
    line-height: 20px;
    font-size: .9rem;

}
.card video{
    margin-top: 10%;
    width: 70%;
    height: 70%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.card button {
    padding: 5px 10px;
    border: none;
    background-color: #2901573d;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #727fde77;
    box-shadow: 0 0 5px #727fde88;
    transition: .3s;
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 4;
}
.card button:hover {
    box-shadow: 0 0 15px #727fde4d;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.61);
}

.card:nth-child(3){
    grid-row: span 2;
    height: 82vh;
}
.card:nth-child(3) p {
    bottom: 12%;
    font-size: .9rem;
}

.card:nth-child(3) h2 {
    bottom: 27%;
}

.card:nth-child(4){
    grid-column: span 2;
}
.card:nth-child(4) h2{
    bottom: 28%;
}
.card:nth-child(4) img{
    margin-top: 3%;
    height: 50%;
}
.card:nth-child(4) p{
    max-width: 700px;
    bottom: 8%;
}
.card:nth-child(1) img{
    width: 56%;
    height: 50%;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 10px;
}
.card:nth-child(1) h2{
    bottom: 28%;
}
.card:nth-child(2) h2{
    bottom: 30%;
}
.card:nth-child(2) p{
    bottom: 5%;
}
.card:nth-child(2) img{
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
    height: 60%;
}
































@media (max-aspect-ratio: 16/9) {
    .background{
        width: auto;
        height: 100%;
    }
}   

@media (min-aspect-ratio: 16/9) {
    .background{
        width: 100%;
        height: auto;
    }
}